.card-generator {
    background-color: #B75454;
    color: #fff;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 0.8rem;
}

.no-card, .generated-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    margin-top: 0;
}

.random-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: -1.4rem;
}

.card-icon {
    margin-right: 1rem;
    font-size: 2rem;
}

.warning {
    color: #FF6868;
}

.success {
    color: #2dd51f;
}

.failure {
    color: #ff6868;
}

.success, .failure, .alert, #card-brand-logo {
    font-size: 2rem;
    margin-right: 1rem;
}

.card-brand {
    display: flex;
    align-items: center;
}

.card-validity {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
}

.random-cards-list {
    margin: 1.4rem auto;
}

.card-brand {
    margin-bottom: -0.4rem;
}

.section-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}

#result {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #B75454;
}

.validate-card, .generated-card, .no-card {
    width: 300px;
    height: 300px;
}

.validate-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clear-input {
    margin-top: -1rem;
}

.results {
    margin-top: -0.4rem;
}

.card-generator:hover {
    cursor: pointer;
}

.card-plaintext:hover {
    transform: scale(1.01);
    color: #B75454;
    cursor: pointer;
}


#light #result {
    color: #B75454;
    transition: 0.2s;
}

#dark #result {
    color: #63E6D4;
    transition: 0.2s;
}

#dark .card-plaintext:hover {
    transform: scale(1.01);
    color: #63E6D4;
    cursor: pointer;
    transition: 0.2s;
}

.gen-cards-space{
    margin-left: 4rem;
    transition: 0.2s;
}