header {
    display: flex;
    background-color: #B75454;
    color: #fff;
    height: 94px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
}
header h3 {
    font-weight: 300;
    margin-left: 8%;
}

.nav-bar{
    display: flex;
    align-items: center;
    margin-right: 8%;
}

a {
    color: inherit;
}

.theme-toggler {
    background-color: #63E6D4;
    color: #444444;
    padding: 0.3rem 0.8rem;
    display: flex;
    border-radius: 8px;
    margin-left: 1rem;
}

.theme-toggler:hover {
    cursor: pointer;
}

#light #sun-icon {
    background-color: #fff;
    border-radius: 100%;
    padding: 0.3rem;
    margin: 0 0.2rem;
    transition: 0.4s;
}

#dark #sun-icon {
    padding: 0.3rem;
    margin: 0 0.2rem;
}

#dark #moon-icon {
    background-color: #fff;
    border-radius: 100%;
    padding: 0.3rem;
    margin: 0 0.2rem;
    transition: 0.4s;
}

#light #moon-icon {
    padding: 0.3rem;
    margin: 0 0.2rem;
}