.card-module {
    display: flex;
    margin: 0 auto;
    margin-bottom: 4rem;
    align-items: center;
    justify-content: center;
    width: 64%;
    background-color: #F6F6F6;
    padding: 3rem 1rem;
    border-radius: 18px;
}

.left-module {
    background-color: red;
}

#dark .card-module {
    background-color: #2C2C2C;
    color: #fff;
    transition: 0.2s;
  }

#light .card-module{
    background-color: #F6F6F6;
    transition: 0.2s;
}